[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/*;
Actions=SendToMari;

[Desktop Action SendToMari]
Name=Send To Mari
Icon="~/Mari/Scripts/send-to-mari/mari.png"
Exec="~/Mari/Scripts/send-to-mari/send_to_mari.py" %U
